body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}
.lp-window-root .chips-wrapper .chips-row .chips-item-container>.chips-item {
    flex-shrink: 0;
 
    padding: 0 ;
10px
    border: ;
1px
solid #d6d6d6
    border-radius: ;
16px
    line-height: 30px;
    font-size: 12px;
    white-space: nowrap;
    outline: 0 none;
    color: white;
    /* background: transparent none; */
    cursor: pointer;
    background-color: #e4006a;
}
 
/* Basic styling for the navigation bar */
nav {
    background-color: #E20074; /* T-Mobile's primary color */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
#menu {
    list-style-type: none;
    display: flex;
}
 
#menu li {
    margin-right: 20px;
}
 
#menu li a {
    text-decoration: none;
    color: rgb(12, 11, 11);
}
 
.dropdown {
    position: relative;
    display: inline-block;
    text-align:left;
    
}
 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f0ecec;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
 
.dropdown:hover .dropdown-content {
    display: block;
}
 
/* Styling for the page title */
header {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}
<style>
body {
  background-image: url('https://vanapalli-kumar01.github.io/T-Mobile/T-Mobile.png');
}
</style>
 
